# =============================================================================
# GRPC server options
# =============================================================================
[server.grpc]

# порт сервера
port = 9090
timeout_sec = 86400

# =============================================================================
# HTTP server options
# =============================================================================
[server.http]

# порт сервера
port = 8080
timeout_sec = 86400


# =============================================================================
# Postgres master options
# =============================================================================
[postgres]

# хост Postgres
host = "localhost"

# порт Postgres
port = 5433

# пользователь Postgres
user = "postgres"

# пароль Postgres
password = "postgres"

# база Postgres
database_name = "prmexport"

# поддержка SSL Postgres
secure = "disable"

# =============================================================================
# Logger options
# =============================================================================
[logger]

# уровень логирования. возможные значения: emerg, alert, crit, err, warning, notice, info, debug
level = "info"

# формат даты в логах. Подробнее про форматы дат в go: https://golang.org/src/time/format.go
time_format = "2006-01-02T15:04:05.999999999"

# =============================================================================
# Tracer options
# =============================================================================
[tracer]

# хост трасировщика
host="127.0.0.1"

# порт трасировщика
port=5775

# флаг, если указан, то в opentracing будут отправляться трассировки путей запросов (если передан через флаги, то любое значение будет соотвествоать true)
enabled = false
name = "GUESTCOVIDER"

# =============================================================================
# metrics options
# =============================================================================
[metrics]
enabled = false
# порт метрик
port=9153
